In [22]:
import pandas as pd

df = pd.read_csv('Desktop\python_task2_313247116/mobile_price_1.csv')

In [5]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
#speed - ordinal
#

In [12]:
df["resolution"] = df["px_height"] * df["px_width"]

In [13]:
print(df)

        id  battery_power  m_dep  mobile_wt  px_height  px_width   ram  sc_h  \
0        0            842    0.6        188         20       756  2549     9
1        1           1021    0.7        136        905      1988  2631    17
2        2            563    0.9        145       1263      1716  2603    11
3        3            615    0.8        131       1216      1786  2769    16
4        4           1821    0.6        141       1208      1212  1411     8
...    ...            ...    ...        ...        ...       ...   ...   ...
1995  1995            794    0.8        106       1222      1890   668    13
1996  1996           1965    0.2        187        915      1965  2032    11
1997  1997           1911    0.7        108        868      1632  3057     9
1998  1998           1512    0.1        145        336       670   869    18
1999  1999            510    0.9        168        483       754  3919    19

      sc_w  talk_time  ...   speed     sim f_camera camera memory  screen  \
0        7         19  ...  medium  Single      1.0    2.0   7568     LCD
1        3          7  ...     low    Dual      NaN    6.0  53759   Touch
2        2          9  ...     low    Dual      2.0    6.0  41140   Touch
3        8         11  ...    high  Single      NaN    9.0  10558     LCD
4        2         15  ...  medium  Single     13.0   14.0  44436   Touch
...    ...        ...  ...     ...     ...      ...    ...    ...     ...
1995     4         19  ...     low    Dual      NaN   14.0   2650   Touch
1996    10         16  ...    high    Dual      NaN    3.0  39573   Touch
1997     1          5  ...     low    Dual      1.0    3.0  36706   Touch
1998    10         19  ...     low  Single      4.0    5.0  46218   Touch
1999     4          2  ...  medium    Dual      5.0   16.0  45731   Touch

      wifi    price total_screen_resolution resolution
0        g   751.64                   15120      15120
1     none   885.17                 1799140    1799140
2     none  1067.78                 2167308    2167308
3     none   819.22                 2171776    2171776
4     none  1023.13                 1464096    1464096
...    ...      ...                     ...        ...
1995  none   729.34                 2309580    2309580
1996     n  1157.94                 1797975    1797975
1997  none  1351.51                 1416576    1416576
1998     g   846.52                  225120     225120
1999     a  1118.35                  364182     364182

[2000 rows x 23 columns]

In [14]:
df["call_ratio"] = df["battery_power"] / df["talk_time"]

In [15]:
print(df)

        id  battery_power  m_dep  mobile_wt  px_height  px_width   ram  sc_h  \
0        0            842    0.6        188         20       756  2549     9
1        1           1021    0.7        136        905      1988  2631    17
2        2            563    0.9        145       1263      1716  2603    11
3        3            615    0.8        131       1216      1786  2769    16
4        4           1821    0.6        141       1208      1212  1411     8
...    ...            ...    ...        ...        ...       ...   ...   ...
1995  1995            794    0.8        106       1222      1890   668    13
1996  1996           1965    0.2        187        915      1965  2032    11
1997  1997           1911    0.7        108        868      1632  3057     9
1998  1998           1512    0.1        145        336       670   869    18
1999  1999            510    0.9        168        483       754  3919    19

      sc_w  talk_time  ...     sim  f_camera camera memory screen  wifi  \
0        7         19  ...  Single       1.0    2.0   7568    LCD     g
1        3          7  ...    Dual       NaN    6.0  53759  Touch  none
2        2          9  ...    Dual       2.0    6.0  41140  Touch  none
3        8         11  ...  Single       NaN    9.0  10558    LCD  none
4        2         15  ...  Single      13.0   14.0  44436  Touch  none
...    ...        ...  ...     ...       ...    ...    ...    ...   ...
1995     4         19  ...    Dual       NaN   14.0   2650  Touch  none
1996    10         16  ...    Dual       NaN    3.0  39573  Touch     n
1997     1          5  ...    Dual       1.0    3.0  36706  Touch  none
1998    10         19  ...  Single       4.0    5.0  46218  Touch     g
1999     4          2  ...    Dual       5.0   16.0  45731  Touch     a

        price  total_screen_resolution resolution  call_ratio
0      751.64                    15120      15120   44.315789
1      885.17                  1799140    1799140  145.857143
2     1067.78                  2167308    2167308   62.555556
3      819.22                  2171776    2171776   55.909091
4     1023.13                  1464096    1464096  121.400000
...       ...                      ...        ...         ...
1995   729.34                  2309580    2309580   41.789474
1996  1157.94                  1797975    1797975  122.812500
1997  1351.51                  1416576    1416576  382.200000
1998   846.52                   225120     225120   79.578947
1999  1118.35                   364182     364182  255.000000

[2000 rows x 24 columns]

In [16]:
df["memory"] = df["memory"]/1000

In [17]:
print(df)

        id  battery_power  m_dep  mobile_wt  px_height  px_width   ram  sc_h  \
0        0            842    0.6        188         20       756  2549     9
1        1           1021    0.7        136        905      1988  2631    17
2        2            563    0.9        145       1263      1716  2603    11
3        3            615    0.8        131       1216      1786  2769    16
4        4           1821    0.6        141       1208      1212  1411     8
...    ...            ...    ...        ...        ...       ...   ...   ...
1995  1995            794    0.8        106       1222      1890   668    13
1996  1996           1965    0.2        187        915      1965  2032    11
1997  1997           1911    0.7        108        868      1632  3057     9
1998  1998           1512    0.1        145        336       670   869    18
1999  1999            510    0.9        168        483       754  3919    19

      sc_w  talk_time  ...     sim  f_camera camera  memory screen  wifi  \
0        7         19  ...  Single       1.0    2.0   7.568    LCD     g
1        3          7  ...    Dual       NaN    6.0  53.759  Touch  none
2        2          9  ...    Dual       2.0    6.0  41.140  Touch  none
3        8         11  ...  Single       NaN    9.0  10.558    LCD  none
4        2         15  ...  Single      13.0   14.0  44.436  Touch  none
...    ...        ...  ...     ...       ...    ...     ...    ...   ...
1995     4         19  ...    Dual       NaN   14.0   2.650  Touch  none
1996    10         16  ...    Dual       NaN    3.0  39.573  Touch     n
1997     1          5  ...    Dual       1.0    3.0  36.706  Touch  none
1998    10         19  ...  Single       4.0    5.0  46.218  Touch     g
1999     4          2  ...    Dual       5.0   16.0  45.731  Touch     a

        price  total_screen_resolution resolution  call_ratio
0      751.64                    15120      15120   44.315789
1      885.17                  1799140    1799140  145.857143
2     1067.78                  2167308    2167308   62.555556
3      819.22                  2171776    2171776   55.909091
4     1023.13                  1464096    1464096  121.400000
...       ...                      ...        ...         ...
1995   729.34                  2309580    2309580   41.789474
1996  1157.94                  1797975    1797975  122.812500
1997  1351.51                  1416576    1416576  382.200000
1998   846.52                   225120     225120   79.578947
1999  1118.35                   364182     364182  255.000000

[2000 rows x 24 columns]

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             2000 non-null   int64
 1   battery_power  2000 non-null   int64
 2   m_dep          2000 non-null   float64
 3   mobile_wt      2000 non-null   int64
 4   px_height      2000 non-null   int64
 5   px_width       2000 non-null   int64
 6   ram            2000 non-null   int64
 7   sc_h           2000 non-null   int64
 8   sc_w           2000 non-null   int64
 9   talk_time      2000 non-null   int64
 10  bluetooth      2000 non-null   object
 11  gen            2000 non-null   int64
 12  cores          2000 non-null   category
 13  speed          2000 non-null   category
 14  sim            2000 non-null   object
 15  f_camera       1526 non-null   float64
 16  camera         1899 non-null   float64
 17  memory         2000 non-null   int64
 18  screen         2000 non-null   category
 19  wifi           2000 non-null   object
 20  price          2000 non-null   float64
dtypes: category(3), float64(4), int64(11), object(3)
memory usage: 287.8+ KB

In [25]:
df.speed = df.speed.astype('category')
df.cores = df.cores.astype('category')
df.screen = df.screen.astype('category')

In [27]:
df.describe()

,id,battery_power,m_dep,mobile_wt,px_height,px_width,ram,sc_h,sc_w,talk_time,gen,f_camera,camera,memory,price
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,1526.000000,1899.000000,2000.000000,2000.00000
mean,999.500000,1238.518500,0.501750,140.249000,645.108000,1251.515500,2124.213000,12.306500,5.767000,11.011000,3.283000,5.648100,10.443918,32546.259000,862.02435
std,577.494589,439.418206,0.288416,35.399655,443.780811,432.199447,1084.732044,4.213245,4.356398,5.463955,0.824773,4.140169,5.763826,18161.462247,230.26348
min,0.000000,501.000000,0.100000,80.000000,0.000000,500.000000,256.000000,5.000000,0.000000,2.000000,2.000000,1.000000,1.000000,1954.000000,307.11000
25%,499.750000,851.750000,0.200000,109.000000,282.750000,874.750000,1207.500000,9.000000,2.000000,6.000000,3.000000,2.000000,6.000000,16421.000000,698.46750
50%,999.500000,1226.000000,0.500000,141.000000,564.000000,1247.000000,2146.500000,12.000000,5.000000,11.000000,4.000000,5.000000,10.000000,32303.000000,837.63000
75%,1499.250000,1615.250000,0.800000,170.000000,947.250000,1633.000000,3064.500000,16.000000,9.000000,16.000000,4.000000,8.000000,15.000000,48340.250000,1006.71250
max,1999.000000,1998.000000,1.000000,200.000000,1960.000000,1998.000000,3998.000000,19.000000,18.000000,20.000000,4.000000,19.000000,20.000000,64922.000000,1728.97000

In [33]:
print(df.groupby('camera'))

         id  battery_power  m_dep  mobile_wt  px_height  px_width  ram  sc_h  \
camera
1.0     104            104    104        104        104       104  104   104
2.0      99             99     99         99         99        99   99    99
3.0      93             93     93         93         93        93   93    93
4.0      95             95     95         95         95        95   95    95
5.0      59             59     59         59         59        59   59    59
6.0      95             95     95         95         95        95   95    95
7.0     119            119    119        119        119       119  119   119
8.0      89             89     89         89         89        89   89    89
9.0     112            112    112        112        112       112  112   112
10.0    122            122    122        122        122       122  122   122
11.0     79             79     79         79         79        79   79    79
12.0     90             90     90         90         90        90   90    90
13.0     85             85     85         85         85        85   85    85
14.0    104            104    104        104        104       104  104   104
15.0     92             92     92         92         92        92   92    92
16.0     88             88     88         88         88        88   88    88
17.0     99             99     99         99         99        99   99    99
18.0     82             82     82         82         82        82   82    82
19.0     83             83     83         83         83        83   83    83
20.0    110            110    110        110        110       110  110   110

        sc_w  talk_time  bluetooth  gen  cores  speed  sim  f_camera  memory  \
camera
1.0      104        104        104  104    104    104  104         0     104
2.0       99         99         99   99     99     99   99        51      99
3.0       93         93         93   93     93     93   93        66      93
4.0       95         95         95   95     95     95   95        68      95
5.0       59         59         59   59     59     59   59        51      59
6.0       95         95         95   95     95     95   95        79      95
7.0      119        119        119  119    119    119  119        95     119
8.0       89         89         89   89     89     89   89        82      89
9.0      112        112        112  112    112    112  112        92     112
10.0     122        122        122  122    122    122  122       104     122
11.0      79         79         79   79     79     79   79        70      79
12.0      90         90         90   90     90     90   90        83      90
13.0      85         85         85   85     85     85   85        77      85
14.0     104        104        104  104    104    104  104        89     104
15.0      92         92         92   92     92     92   92        83      92
16.0      88         88         88   88     88     88   88        87      88
17.0      99         99         99   99     99     99   99        93      99
18.0      82         82         82   82     82     82   82        76      82
19.0      83         83         83   83     83     83   83        78      83
20.0     110        110        110  110    110    110  110       102     110

        screen  wifi  price
camera
1.0        104   104    104
2.0         99    99     99
3.0         93    93     93
4.0         95    95     95
5.0         59    59     59
6.0         95    95     95
7.0        119   119    119
8.0         89    89     89
9.0        112   112    112
10.0       122   122    122
11.0        79    79     79
12.0        90    90     90
13.0        85    85     85
14.0       104   104    104
15.0        92    92     92
16.0        88    88     88
17.0        99    99     99
18.0        82    82     82
19.0        83    83     83
20.0       110   110    110

In [34]:
df['camera'].isna().sum()#1. How many phones do not have a camera at all (front or back)

101

In [ ]:
df[]