In [2]:
import pandas as pd

df = pd.read_csv('mobile_price_1.csv')

In [5]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
#speed - ordinal
#

In [27]:
df["resolution"] = df["px_height"] * df["px_width"]

In [14]:
df["call_ratio"] = df["battery_power"] / df["talk_time"] # Add a column that holds the ratio battery_power/talk_time and name it call_ratio. 6.

In [16]:
df["memory"] = df["memory"]/1000 # Change the memory column to hold the memory in GB instead of MB.

In [99]:
df.speed = df.speed.astype('category')
df.cores = df.cores.astype('category')
df.screen = df.screen.astype('category') # 8. Convert the following features into categorical series in the Dataframe: speed,screen,cores

In [98]:
df.describe()

,id,battery_power,m_dep,mobile_wt,px_height,px_width,ram,sc_h,sc_w,talk_time,gen,f_camera,camera,memory,price,resolution
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,1526.000000,1899.000000,2000.000000,2000.00000,2.000000e+03
mean,999.500000,1238.518500,0.501750,140.249000,645.108000,1251.515500,2124.213000,12.306500,5.767000,11.011000,3.283000,5.648100,10.443918,32546.259000,862.02435,9.052601e+05
std,577.494589,439.418206,0.288416,35.399655,443.780811,432.199447,1084.732044,4.213245,4.356398,5.463955,0.824773,4.140169,5.763826,18161.462247,230.26348,8.297625e+05
min,0.000000,501.000000,0.100000,80.000000,0.000000,500.000000,256.000000,5.000000,0.000000,2.000000,2.000000,1.000000,1.000000,1954.000000,307.11000,0.000000e+00
25%,499.750000,851.750000,0.200000,109.000000,282.750000,874.750000,1207.500000,9.000000,2.000000,6.000000,3.000000,2.000000,6.000000,16421.000000,698.46750,2.632005e+05
50%,999.500000,1226.000000,0.500000,141.000000,564.000000,1247.000000,2146.500000,12.000000,5.000000,11.000000,4.000000,5.000000,10.000000,32303.000000,837.63000,6.013590e+05
75%,1499.250000,1615.250000,0.800000,170.000000,947.250000,1633.000000,3064.500000,16.000000,9.000000,16.000000,4.000000,8.000000,15.000000,48340.250000,1006.71250,1.359027e+06
max,1999.000000,1998.000000,1.000000,200.000000,1960.000000,1998.000000,3998.000000,19.000000,18.000000,20.000000,4.000000,19.000000,20.000000,64922.000000,1728.97000,3.886306e+06

In [75]:
no_camera_records = df[df['camera'].isna() & df['f_camera'].isna()]

In [79]:
len(no_camera_records)#1. How many phones do not have a camera at all (front or back)

101

In [40]:
data_frame_manipulated = df[((df['camera'] >= 1) | df['f_camera'] >= 1) & (df['sim'] == 'Single') & (df['resolution'] > 12)]

In [71]:
data_frame_manipulated['battery_power'].mean(skipna = True) # task2 - 2

1256.2735135135135

In [100]:
df[df[(df['wifi'] == 'none') & (df['screen'] == 'Touch') & (df['mobile_wt'] > 145)]['price'].max() == df['price']]['id'] # What is the ID and price of the most expensive phone that has no wifi, a touch screen and weighs more than 145 grams?

770    770
Name: id, dtype: int64