In [4]:
import pandas as pd
import numpy as np
df = pd.read_csv('mobile_price_1.csv')

In [153]:
#3. Add a column that holds the total screen resolution for each device.
# Name it resolution

In [31]:
df["resolution"] = df["px_height"] * df["px_width"]

In [ ]:
# Converting the whole screen size in inches and then dividing it by the 
# amount of pixel in width

In [161]:
df["DPI_w"] = (df['px_width'] / ((df['sc_w'] / 2.54)))
df['DPI_w'].replace([-np.inf, np.inf, np.nan], 0, inplace=True)
df['DPI_w']

0        274.320000
1       1683.173333
2       2179.320000
3        567.055000
4       1539.240000
           ...
1995    1200.150000
1996     499.110000
1997    4145.280000
1998     170.180000
1999     478.790000
Name: DPI_w, Length: 2000, dtype: float64

In [ ]:
# Add a column that holds the ratio battery_power/talk_time and name it 
#call_ratio. 6.

In [154]:
df["call_ratio"] = df["battery_power"] / df["talk_time"]

In [155]:
 # Change the memory column to hold the memory in GB instead of MB.

In [62]:
df["memory"] = df["memory"]/1024

In [ ]:
# 8. Convert the following features into categorical series in the Dataframe: speed,screen,cores

In [142]:
df.speed = pd.Categorical(df.speed,ordered=True,categories=['low','medium','high'])
df.cores = pd.Categorical(df.cores,ordered=True,categories=['single','dual','triple','quad','penta','hexa', 'hepta',' octa'])
df.screen = pd.Categorical(df.screen,ordered=False,categories=df.screen.unique())

In [164]:
# Include the output of the `describe()` function of the dataframe.

In [166]:
df.describe()

,id,battery_power,m_dep,mobile_wt,px_height,px_width,ram,sc_h,sc_w,talk_time,gen,f_camera,camera,memory,price,DPI_w,resolution,bluetooth_bin,call_ratio
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,1526.000000,1899.000000,2000.000000,2000.00000,2000.000000,2.000000e+03,2000.0000,2000.000000
mean,999.500000,1238.518500,0.501750,140.249000,645.108000,1251.515500,2124.213000,12.306500,5.767000,11.011000,3.283000,5.648100,10.443918,31.783456,862.02435,847.370600,9.052601e+05,0.4950,166.672629
std,577.494589,439.418206,0.288416,35.399655,443.780811,432.199447,1084.732044,4.213245,4.356398,5.463955,0.824773,4.140169,5.763826,17.735803,230.26348,983.732328,8.297625e+05,0.5001,156.664965
min,0.000000,501.000000,0.100000,80.000000,0.000000,500.000000,256.000000,5.000000,0.000000,2.000000,2.000000,1.000000,1.000000,1.908203,307.11000,0.000000,0.000000e+00,0.0000,25.100000
25%,499.750000,851.750000,0.200000,109.000000,282.750000,874.750000,1207.500000,9.000000,2.000000,6.000000,3.000000,2.000000,6.000000,16.036133,698.46750,269.018756,2.632005e+05,0.0000,75.737500
50%,999.500000,1226.000000,0.500000,141.000000,564.000000,1247.000000,2146.500000,12.000000,5.000000,11.000000,4.000000,5.000000,10.000000,31.545898,837.63000,490.836857,6.013590e+05,0.0000,111.369318
75%,1499.250000,1615.250000,0.800000,170.000000,947.250000,1633.000000,3064.500000,16.000000,9.000000,16.000000,4.000000,8.000000,15.000000,47.207275,1006.71250,1002.506250,1.359027e+06,1.0000,186.193750
max,1999.000000,1998.000000,1.000000,200.000000,1960.000000,1998.000000,3998.000000,19.000000,18.000000,20.000000,4.000000,19.000000,20.000000,63.400391,1728.97000,5057.140000,3.886306e+06,1.0000,989.500000

In [149]:
##TASK 2##


### 1. How many phones do not have a camera at all (front or back)

In [144]:
no_camera_records = df[df['camera'].isna() & df['f_camera'].isna()]
len(no_camera_records)

101

In [68]:
 ### What is the average battery power for single-sim phones that have a camera or front camera with a higher resolution than 12 megapixels?

In [69]:
data_frame_manipulated = df[((df['camera'] >= 1) | df['f_camera'] >= 1) & (df['sim'] == 'Single') & (df['resolution'] > 12)]
data_frame_manipulated['battery_power'].mean(skipna = True)

1256.2735135135135

In [99]:
# What is the ID and price of the most expensive phone that has no wifi, 
#a touch screen and weighs more than 145 grams?

In [165]:
value_id = df[df[(df['wifi'] == 'none') & (df['screen'] == 'Touch') & (df['mobile_wt'] > 145)]['price'].max() == df['price']]['id'] 
value_price = df['price'][value_id]
print('The id is',int(value_id),'and The price is ',float(value_price))

The id is 770 and The price is  1533.85

In [ ]:
# 4. Create a pivot table that shows the percentage of phones with Bluetooth per generation,  
# pivoted around the phone generation and split by “ram” quartiles. (i.e. the rows are the  generation number and the columns are 4 quartiles of ram size).

In [151]:
ram = pd.cut(df['ram'], [0,1000,2000,3000,4000]) # Create a pivot table that shows the percentage of phones with Bluetooth per generation,  pivoted around the phone generation and split by “ram” quartiles. (i.e. the rows are the  generation number and the columns are 4 quartiles of ram size). 
df['bluetooth_bin'] = (df['bluetooth'] == 'Yes').astype(int)
df_has_bt = df.pivot_table(index='gen' , columns=ram,values = 'bluetooth_bin', aggfunc = sum)
df_total = df.pivot_table(index='gen',columns=ram,values='bluetooth_bin',aggfunc='count')
df_has_bt/df_total

ram  (0, 1000]  (1000, 2000]  (2000, 3000]  (3000, 4000]
gen
2     0.510204      0.526316      0.508197      0.540323
3     0.478723      0.488000      0.418440      0.441667
4     0.475728      0.465909      0.511945      0.542857

In [94]:
### 5. Create a new Dataframe based on the original that has the following features:
### [id, battery_power, ram, talk_time, bluetooth, cores, sim, memory, price],
### and contains a random sampling of half of the medium speed phones.

In [163]:
new_df = df[['id','battery_power','ram','talk_time','bluetooth','cores','sim','memory','price']]
speed_df = df.loc[df['speed'] == 'medium']
half_sampled_speed = speed_df.sample(frac=0.5)
ready_df = pd.concat([new_df,half_sampled_speed])
ready_df.loc[ready_df['speed'] == 'medium']

,id,battery_power,ram,talk_time,bluetooth,cores,sim,memory,price,m_dep,...,gen,speed,f_camera,camera,screen,wifi,DPI_w,resolution,bluetooth_bin,call_ratio
91,91,1977,1971,14,Yes,hepta,Dual,53.186523,1134.36,1.0,...,4.0,medium,7.0,18.0,Touch,none,450.668571,1522692.0,1.0,141.214286
1166,1166,999,1344,5,Yes,quad,Dual,26.823242,827.84,0.1,...,4.0,medium,NaN,1.0,LCD,none,189.230000,14900.0,1.0,199.800000
1175,1175,563,3012,15,No,hepta,Dual,46.659180,605.94,0.3,...,3.0,medium,3.0,12.0,LCD,none,434.340000,144324.0,0.0,37.533333
1649,1649,1307,1412,5,No,hepta,Single,7.222656,685.80,0.6,...,2.0,medium,2.0,3.0,LCD,a,311.291111,989391.0,0.0,261.400000
110,110,783,2016,18,No,triple,Dual,42.588867,949.02,1.0,...,4.0,medium,NaN,4.0,Touch,none,934.085000,1762258.0,0.0,43.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,258,564,1074,15,No,triple,Dual,50.814453,838.39,0.5,...,4.0,medium,NaN,1.0,Touch,none,628.650000,1805760.0,0.0,37.600000
908,908,1254,606,2,No,triple,Single,44.217773,1006.59,0.4,...,4.0,medium,NaN,3.0,Touch,n,2484.120000,3072876.0,0.0,627.000000
1605,1605,513,3400,13,No,NaN,Single,27.205078,999.24,0.4,...,2.0,medium,8.0,13.0,Touch,n,300.566667,200220.0,0.0,39.461538
1034,1034,1949,356,19,Yes,hepta,Single,56.117188,630.41,0.3,...,2.0,medium,7.0,11.0,LCD,none,997.373333,1120278.0,1.0,102.578947
1287,1287,860,3869,20,Yes,hexa,Dual,48.072266,1065.07,0.7,...,4.0,medium,1.0,13.0,Touch,b,177.618571,677468.0,1.0,43.000000

In [147]:
#6. Using this new dataset, what is the maximum total talk time 
#you can achieve if you use 3 phones, and which 3 phones will you use?

In [148]:
# Get the 3 highest values in the 'value' column
highest_3 = df['talk_time'].nlargest(3)
# Get the index of the rows that contain the highest values
highest_3_index = highest_3.index
# Select the rows from the DataFrame using the index
df_highest_3 = df.loc[highest_3_index]
# total talk time is
print('total talk time with 3 phones will be',df_highest_3['talk_time'].sum()
    ,'and the 3 phones id are ',list(df_highest_3['id']))

total talk time with 3 phones will be 60 and the 3 phones id are  [8, 22, 23]